@mixin mobile{
    @media (max-width:767px) {
        @content;
    }   
}

@mixin tablet{
    @media (min-width: 768px) {
         @content;
    }   
}

@mixin desktop{
    @media (min-width:1200px) {
        @content;
    }   
}

@mixin footer-spacing{
    padding: 40px 0;
}

@mixin div2{
    text-align: center;
    text-decoration: none;
    padding-bottom:15px;
    width:50%;
    @include tablet{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: fit-content;
        height: 80px;
        padding:0;
        margin-left: 5rem;
      }
  }

@mixin padding-mobile{
    padding: 0 16px;
    @include tablet{
        padding: 0 3.125%;
    }
}

