@import '_variables.scss';
@import '_mixins.scss';
@import '_typography.scss';

*{
    padding: 0;
    margin: 0;  
    font-family: "Avenir"; 
}
  
  .header__nav{
    background-color: $primary-color;
    height: 80px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include tablet{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .nav__div{
    margin: auto;
    padding: 0 16px;
    @include tablet{
      margin: 0;
      padding-left:3.125%;
    }
    }
    .nav__div2{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    &--link1{
      @include div2;
      font-family: $font-medium;
      border-bottom: 2px solid $secondary-color;
      color: $secondary-color;
    }
    &--link2{
      @include div2;
      color: #e1e1e1;
    }
  }
}

.hero{
    background-image: url('../Assets/Images/austin-neill-1t0yY9lSpyE-unsplash.jpg');
    height: 183px;
    background-size: cover;
    display: flex;
    @include tablet{
      height: 400px;
    }
    &__head{
      display: flex;
      align-items: center;
      @include padding-mobile;
      background: rgba($color: #323232, $alpha: 0.5);
      width: 100%;
      height: 183px;
      color: $secondary-color;
      @include h1-hero;
      @include tablet{
      height: 400px;
      }
    }
}

.article{
    @include padding-mobile;
    display: flex;
    flex-direction: column;
    &__header{
        @include h1-mobile;
        padding: 32px 0 24px;
    }
    &__img{
        width: 100%;
        max-width: 896px;
        margin-bottom: 24px;
        height:145px; 
        @include tablet{
        height: 362px;
        }  
    }
    &__quote{
        font-family: $font-demi;
    }
    .quote{
      padding-bottom: 32px;
      @include quote;
    }
    .musicians{
      padding: 40px 0 24px;
      @include quote;
    }
    &__para{
      display: flex;
      flex-direction: column;
      @include h4-mobile;
      @include tablet{
        display: flex;
        flex-direction: row;  
      }
    }
    .para1{
      padding-bottom: 24px;
      @include tablet{
        padding-right: 12px;
      }
    }
    .para2{
      padding-bottom: 40px;
      @include tablet{
        padding-left: 12px;
      }
    }
}

.section{
  background-color: $secondary-color;
    &__head{
      @include h1-mobile
      @include mobile{
        padding: 24px 16px;
      }
      @include tablet{
      padding: 32px 0 24px 24px;
      }
    }
    .img{
      @include mobile{
      padding:0 16px;
      }
      @include tablet{
      padding:0 24px 24px;
      display: flex;
      justify-content: space-between;
      }
      &__styl{
      width: 100%;
      @include mobile{
        display: flex;
        padding-bottom: 16px;
        height: 162px;
      }
      @include tablet{
        width: 31.1111111%;
        max-width: 344px;
        height: 16.40625vw;
        max-height: 193px;
      }
    }
    }
}



.ftr{
  @include padding-mobile;
  background-color: $primary-color;
  color: $secondary-color;
  .footer{
    @include tablet{
      display:flex;
    }
    &__head{
        @include h1-mobile;
        font-size: 36px;
        @include footer-spacing;
      }
      &__icon{
        @include tablet{
        padding: 40px;
        align-self: center;
        } 
        &--img{
        height: 2rem;
        padding-right:2rem ;   
        }
      }
      &__site-name{
        display: none;
        @include tablet{
          display: flex;
          align-self: center;
          position: absolute;
          right: 24px;
          
        }
      }
    }
  .copyright{
    padding-bottom: 40px;
    @include h4-mobile; 
    @include tablet{
      display: flex;
      br{
        display: none;
      }
    }
  }
}

.contact{
  @include tablet{
  display: flex;
  justify-content: space-between;
  }
  &__mgmt:nth-of-type(odd){
    @include footer-spacing;
  }
  &__mgmt{
    @include tablet{
      @include footer-spacing;
    }
    &--name{
      font-family: $font-medium;
    }
    &--add{
      @include h4-mobile;
      padding-top: 15px ;
    }
  }
}