@font-face {
  font-family: "Avenir-Bold";
  src: url("../Assets/_Global-Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf"), url("../Assets/_Global-Font/AvenirNextProLT/Alternative-files/Linotype - Avenir Next LT Pro Bold.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("../Assets/_Global-Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf"), url("../Assets/_Global-Font/AvenirNextProLT/Alternative-files/Linotype - Avenir Next LT Pro.ttf");
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../Assets/_Global-Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf"), url("../Assets/_Global-Font/AvenirNextProLT/Alternative-files/Linotype - Avenir Next LT Pro Medium.ttf");
}

@font-face {
  font-family: "Avenir-demi";
  src: url("../Assets/_Global-Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf"), url("../Assets/_Global-Font/AvenirNextProLT/Alternative-files/Linotype - Avenir Next LT Pro Demi.ttf");
}

@font-face {
  font-family: "Avenir-Light";
  src: url("../Assets/_Global-Font/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf"), url("../Assets/_Global-Font/AvenirNextProLT/Alternative-files/Linotype - Avenir Next LT Pro Light.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Avenir";
}

.header__nav {
  background-color: #323232;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header__nav .nav__div {
  margin: auto;
  padding: 0 16px;
}

.header__nav .nav__div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__nav .nav__div2--link1 {
  text-align: center;
  text-decoration: none;
  padding-bottom: 15px;
  width: 50%;
  font-family: "Avenir-Medium";
  border-bottom: 2px solid #fafafa;
  color: #fafafa;
}

.header__nav .nav__div2--link2 {
  text-align: center;
  text-decoration: none;
  padding-bottom: 15px;
  width: 50%;
  color: #e1e1e1;
}

.hero {
  background-image: url("../Assets/Images/austin-neill-1t0yY9lSpyE-unsplash.jpg");
  height: 183px;
  background-size: cover;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__head, .footer__head {
  color: #fafafa;
  font-family: "Avenir-Bold";
  font-size: 24px;
  line-height: 32px;
}

.article {
  padding: 0 16px;
}

.article__header {
  font-family: "Avenir-Bold";
  font-size: 24px;
  line-height: 32px;
  padding: 32px 0 24px;
}

.article__img {
  width: 100%;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article__quote {
  font-family: "Avenir-demi";
}

.article .quote {
  line-height: 22px;
  padding-bottom: 32px;
}

.article .musicians {
  padding: 40px 0 24px;
}

.article__para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  line-height: 18px;
  font-family: "Avenir-Light";
}

.article .para1 {
  padding-bottom: 24px;
}

.article .para2 {
  padding-bottom: 40px;
}

.section {
  padding: 0 16px;
  background-color: #fafafa;
}

.section__head {
  padding: 32px 0 24px;
}

.section__img {
  width: 100%;
  padding-bottom: 16px;
}

.footer {
  padding: 0 16px;
  background-color: #323232;
  color: #fafafa;
}

.footer__head {
  font-size: 36px;
  padding: 40px 0;
}

.footer__icon-img {
  height: 2rem;
  padding-right: 2rem;
}

.footer__site-name {
  display: none;
}

.footer .copyright {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 18px;
}

.contact__mgmt:nth-of-type(odd) {
  padding: 40px 0;
}

.contact__mgmt--name {
  font-family: "Avenir-Medium";
}

.contact__mgmt--add {
  font-family: "Avenir-Light";
  font-size: 13px;
  line-height: 18px;
  padding-top: 15px;
}
/*# sourceMappingURL=main.css.map */