@import '_variables.scss';
@import '_mixins.scss';
@import '_typography.scss';

*{
    padding: 0;
    margin: 0;  
    font-family: "Avenir"; 
}
  
  .header__nav{
    background-color: $primary-color;
    height: 80px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .nav__div{
    margin: auto;
    padding: 0 16px;
    }
    .nav__div2{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    &--link1{
      @include div2;
      font-family: $font-medium;
      border-bottom: 2px solid $secondary-color;
      color: $secondary-color;
    }
    &--link2{
      @include div2;
      color: #e1e1e1;
    }
  }
  }

.hero{
    background-image: url('../Assets/Images/austin-neill-1t0yY9lSpyE-unsplash.jpg');
    height: 183px;
    background-size: cover;
    @include padding-mobile;
    display: flex;
    align-items: center;
    &__head{
        color: $secondary-color;
        @include h1;
    }
}

.article{
    @include padding-mobile;
    &__header{
        @include h1;
        padding: 32px 0 24px;
    }
    &__img{
        width: 100%;
        padding-bottom: 24px;
        display: flex;
        justify-content: center;
    }
    &__quote{
        font-family: $font-demi;
    }
    .quote{
        line-height: 22px;
        padding-bottom: 32px;
    }
    .musicians{
      padding: 40px 0 24px;
    }
    &__para{
      display: flex;
      @include h4;
      font-family: "Avenir-Light";
    }
    .para1{
      padding-bottom: 24px;
    }
    .para2{
      padding-bottom: 40px;
    }
}

.section{
  @include padding-mobile;
  background-color: $secondary-color;
    &__head{
      padding: 32px 0 24px;
    }
    &__img{
      width: 100%;
      padding-bottom: 16px;
    }
}

.footer{
  @include padding-mobile;
  background-color: $primary-color;
  &__head{
    @extend .hero__head;
  }
}





